footer {
    width: 100%;
    height: 400px;
    margin-top: 300px;
    background-image: url(../../img/pattern_img/pattern_footer.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.footer__container {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
}

.footer__text {
    width: 30%;
    display: flex;
    margin: 0px 0px 100px 340px;
    justify-content: space-between;
}

.footer__items {
    margin-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__link:hover {
    font-weight: var(--bold);
}

.copyright__container {
    display: flex;
    width: 100%;
    justify-content: center;
}