header {
    width: 85%;
    margin: auto;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    left: 110px;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu,
.hamburger-menu__cross {
    border: none;
    font-size: 1.875rem;
    background-color: var(--transparant);
}

.hamburger-menu:hover {
    cursor: pointer;
    transition: var(--transition);
    transform: var(--hover-up);
    color: var(--purple);
}

.nav__list {
    width: 45%;
    justify-content: space-between;
}

.nav__item {
    font-size: 1.125rem;
}