.hero__container {
    width: 100vw;
    height: 100vh;
    background-image: url(../../img/pattern-hero.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.home__heading {
    font-size: 6rem;
    font-weight: var(--regular);
}

.hero__heading {
    width: 85%;
    margin: 0px auto;
    padding-top: 250px;
}

.work-together {
    width: 85%;
    display: flex;
    margin: 200px auto 0px auto;
    justify-content: flex-end;
}

.work-together__link {
    color: white;
    width: fit-content;
    font-size: 1.5rem;
}

/* Intro about me */
.intro-me__container {
    width: 100%;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-me__text {
    width: 55%;
}

.intro-me__text--paragraph {
    margin-top: 50px;
}

.intro-me__img--container {
    width: 40%;
}

.intro-me__img {
    width: 100%;
}

/* Slider with skills */
.skills__container {
    width: 100%;
    margin-top: 350px;
}

.slider {
    width: 100%;
    margin-top: 50px;
    display: flex;
    padding-bottom: 10px;
}

.slider__item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Education  */
.education__container {
    width: 100%;
    margin-top: 350px;
}

.education-intro {
    width: 60%;
    margin-top: 50px;
}

.education__fontend,
.education__graphic {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education__graphic {
    margin-top: 150px;
}

.education__text {
    width: 65%;
}

.read-more__btn {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}