@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "quicksand", helvetica, sans-serif;
}

body {
    color: var(--black);
    background-color: var(--white);
}

/* Font tags */
a {
    color: var(--black);
}

h1 {
    font-size: 6rem;
    font-weight: var(--bold);
}

h2 {
    font-size: 3rem;
    font-weight: var(--bold);
}

h3 {
    font-size: 1.5rem;
    font-weight: var(--bold);
}

/* Spam tags */
.body-text {
    font-size: 1.125rem;
}

.body-text__bold {
    font-size: 1.125rem;
    font-weight: var(--bold);
}

.next-line {
    display: block;
}

.hyperlink-pink {
    font-weight: bold;
    border-bottom: 4px solid var(--pink);
}

.hyperlink-yellow {
    font-weight: bold;
    border-bottom: 4px solid var(--yellow);
}

.hyperlink-green {
    font-weight: bold;
    border-bottom: 4px solid var(--green);
}

.hyperlink-purple {
    font-weight: bold;
    border-bottom: 4px solid var(--purple);
}

.hyperlink-red {
    font-weight: bold;
    border-bottom: 4px solid var(--red);
}

.hyperlink-pink:hover,
.hyperlink-yellow:hover,
.hyperlink-green:hover,
.hyperlink-purple:hover,
.hyperlink-red:hover {
    cursor: pointer;
    transition: var(--transition);
    transform: var(--hover-up);
}

/* JavaScript tags */

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.show {
    display: flex;
}

.background {
    background-color: var(--white);
}