/* Layout  */
@media (max-width: 991px){
    /* Tablet */

    .nav {
        left: 80px;
    }
}

@media (max-width: 768px){
    /* Mobile */

    .nav {
        left: 50px;
    }

    h2 {
        flex-direction: column;
    }

    .heading__contact {
        display: flex;
        flex-direction: row;
    }

    .hyperlink-pink,
    .hyperlink-yellow,
    .hyperlink-green,
    .hyperlink-purple,
    .hyperlink-red {
        margin-left: 0px;
    }

    .hyperlink-green__contact {
        margin-left: 10px;
    }
}

@media (max-width: 600px){
    /* Small phone */

    .nav {
        left: 25px;
        width: 85%;
    }

    .logo__container {
        width: 45%;
    }

    .logo {
        width: 100%;
    }

    h1 {
        font-size: 3.875rem;
    }

    h2,
    .heading__contact {
        font-size: 2rem;
    }

    .hero__container--plain {
        background-position: left;
    }

    .hyperlink-pink {
        border-bottom: 4px solid var(--pink);
    }

    .hyperlink-yellow {
        border-bottom: 4px solid var(--yellow);
    }

    .hyperlink-green {
        border-bottom: 4px solid var(--green);
    }

    .hyperlink-green__contact {
        border-bottom: 4px solid var(--green);
    }

    .hyperlink-purple {
        border-bottom: 4px solid var(--purple);
    }

    .hyperlink-red {
        border-bottom: 4px solid var(--red);
    }

    .hyperlink-white {
        border-bottom: 4px solid var(--white);
    }

    .hyperlink-pink,
    .hyperlink-yellow,
    .hyperlink-green,
    .hyperlink-purple,
    .hyperlink-red {
        margin-left: 0px;
    }
}

@media (max-width: 500px){
    /* Small Phone */

    .logo__container {
        width: 60%;
    }
}

@media (max-width: 380px){
    /* Even smaller phone */

    h1 {
        font-size: 3rem;
    }

    .logo__container {
        width: 100%;
    }
}

/* Header section */
@media (max-width: 991px){
    /* Tablet */

    .nav__list {
        width: 70%;
        margin-right: 50px;
    }
}

@media (max-width: 768px){
    /* Tablet */

    .nav {
        margin-top: 50px;
        height: auto;
        align-items: flex-start;
    }

    .nav__container {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: center;
    }

    .nav__list {
        width: 100%;
        margin: 100px 0px 0px 0px;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav__item {
        font-size: 1.875rem;
        margin-bottom: 20px;
    }

    .height {
        width: 100%;
        height: 100%;
        background-color: var(--white);
    }
}

/* Home page */
@media (max-width: 1920px){
    /* Wide screen */

    .work-together {
        margin: 300px auto 0px auto;
    }
}

@media (max-width: 1440px){
    /* Laptop */

    .work-together {
        margin: 230px auto 0px auto;
    }
}

@media (max-width: 991px){
    /* Tablet */

    .home__heading,
    .home__heading--bottom {
        font-size: 5rem;
    }

    .work-together {
        margin: 280px auto 0px auto;
    }

    /* Intro about me */
    .intro-me__container {
        flex-direction: column;
    }

    .intro-me__text {
        width: 100%;
    }

    .intro-me__img--container {
        width: 80%;
        margin-top: 100px;
    }

    /* Education */
    .education-intro {
        width: 100%;
    }

    .education__fontend {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .education__graphic {
        flex-direction: column;
        align-items: flex-start;
    }

    .education__text {
        width: 100%;
    }

    .education__img--container {
        margin-top: 50px;
    }

    .work__container--list {
        flex-direction: column;
    }

    .work__container--item {
        width: 100%;
        margin-bottom: 100px;
    }

    .work__img--museum,
    .work__img--blog,
    .work__img--rainydays {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 768px){
    /* Mobile */

    .home__heading,
    .home__heading--bottom {
        margin-top: 50px;
        font-size: 3.25rem;
    }

    .work-together {
        margin: 350px auto 0px auto;
    }

    /* Intro about me */
    .intro-me__container,
    .skills__container,
    .education__container,
    .work__container {
        margin-top: 200px;
    }

    .bottom__logo {
        margin-top: 100px;
    }

    /* Education */
    .education__img--container {
       margin-top: 50px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .hero__container {
        background-position: center;
    }

    .home__heading,
    .home__heading--bottom {
        font-size: 3.25rem;
    }

    .work-together {
        display: none;
    }

     /* Intro about me */
    .intro-me__container {
        margin-top: 50px;
    }

    .intro-me__img--container {
        width: 100%;
        margin-top: 50px;
    }

    .education__img--container,
    .education__img,
    .read-more  {
        width: 100%;
    }

    .read-more__btn {
        width: 35%;
    }

    .work__img--museum,
    .work__img--blog,
    .work__img--rainydays {
    height: 300px;
    }
}

/* Projects page */
@media (max-width: 991px){
    /* Tablet */

    .work__img {
        height: 400px;
    }
}

@media (max-width: 768px){
    /* mobile */

    .filter-menu {
        margin-top: 0px;
        display: flex;
        justify-content: flex-end;
    }

    .project__filter{
        display: none;
    }

    .project__filter.show {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
        height: auto;
    }

    .project__filter--btn {
        margin-bottom: 20px;
    }
}

/* Project specific page */
@media (max-width: 991px){
    /* Tablet */

    .project__intro,
    .project__description--text {
        width: 100%;
    }

    .project__container {
        margin-top: 50px;
    }

    .project__description,
    .detail__img--container {
        flex-direction: column;
    }

    .detail__img--container {
        flex-direction: column;
        margin-top: 50px;
    }

    .deichman__img--one,
    .deichman__img--two,
    .rainydays__img--one,
    .rainydays__img--two,
    .streetz__img--one,
    .streetz__img--two,
    .blog__img--one,
    .blog__img--two,
    .science__img--one,
    .science__img--two,
    .donation__img--one,
    .donation__img--two,
    .sprekenhus__img--one,
    .sprekenhus__img--two,
    .friendly__img--one,
    .friendly__img--two,
    .home__img--one,
    .home__img--two,
    .tasty__img--one,
    .tasty__img--two,
    .museum__img--one,
    .museum__img--two,
    .capasand__img--one,
    .capasand__img--two {
        width: 100%;
        margin-top: 50px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .project__container,
    .project__img,
    .project__description,
    .detail__img--container {
        margin-top: 50px;
    }

    .deichman__img,
    .rainydays__img,
    .streetz__img,
    .blog__img,
    .science__img,
    .donation__img,
    .sprekenhus__img,
    .friendly__img,
    .home__img,
    .tasty__img,
    .museum__img,
    .capasand__img {
        height: 380px;
        margin-top: 50px;
    }

    .deichman__img--one,
    .deichman__img--two,
    .rainydays__img--one,
    .rainydays__img--two,
    .streetz__img--one,
    .streetz__img--two,
    .blog__img--one,
    .blog__img--two,
    .science__img--one,
    .science__img--two,
    .donation__img--one,
    .donation__img--two,
    .sprekenhus__img--one,
    .sprekenhus__img--two,
    .friendly__img--one,
    .friendly__img--two,
    .home__img--one,
    .home__img--two,
    .tasty__img--one,
    .tasty__img--two,
    .museum__img--one,
    .museum__img--two,
    .capasand__img--one,
    .capasand__img--two {
        height: 380px;
    }

}

/* About page  */
@media (max-width: 1500px){
    /* Laptop */

    .hide-six {
        display: none;
    } 
}

@media (max-width: 1300px){
    /* Laptop */

    .hide-five {
        display: none;
    }
}

@media (max-width: 991px){
    /* Tablet */

    .about__me--container {
        margin-top: 50px;
    }

    .about__me {
        flex-direction: column;
    }

    .about__me--paragraph {
        width: 100%;
    }

    .about__instagram {
        justify-content: flex-start;
    }
    .insta__one,
    .insta__two,
    .insta__four, 
    .insta__five{
        margin-right: 30px;
    }

    .insta__four,
    .insta__five,
    .insta__six {
        margin-top: 20px;
    }
    
    .hide-four,
    .hide-five,
    .hide-six {
        display: flex;
    }

    .funfact__text {
        width: 80%;
    }
}

@media (max-width: 768px){
    /* Mobile */

    .about__instagram {
        justify-content: flex-start;
    }

    .insta__one,
    .insta__three,
    .insta__five {
        margin-right: 20px;
    }

    .insta__two,
    .insta__four {
        margin-right: 0px;
    }

    .insta__three,
    .hide-four {
        display: flex;
        margin-top: 20px;
    }

    .insta__one,
    .insta__two,
    .insta__three,
    .insta__four,
    .insta__five,
    .insta__six {
        width: 240px;
        height: 240px;
    }

    .funfact__text {
        width: 100%;
    }
}

@media (max-width: 590px){
    /* Small Phone */

    .about__me--container {
        margin-top: 0px;
    }

    .about__instagram--container,
    .funfact__container {
        margin-top: 150px;
    }

    .insta__two{
        margin-top: 30px;
    }

    .insta__one,
    .insta__two,
    .insta__three,
    .insta__four,
    .insta__five,
    .insta__six {
        width: 100%;
        height: 300px;
        margin-right: 0px;
    }

    .funfact__text {
        margin-left: 25px;
    }
}

/* Contact page */
@media (max-width: 991px){
    /* Tablet */

    .contact__form--container {
        width: 100%;
        margin: 0px auto 0px auto;
    }
}

@media (max-width: 768px){
    /* Mobile */

    .contact__info--container {
        margin: 0px 0px 100px 0px;
    }
}

/* Contact Confirmation page */
@media (max-width: 991px){
    /* Tablet */

    .confirmation__body-text {
        width: 65%;
    }

    .gif__container {
        padding-top: 160px;
    }
}

@media (max-width: 768px){
    /* Mobile */

    .confirmation__body-text {
        width: 90%;
    }

    .gif__container {
        padding-top: 200px;
    }

    #gif {
        width: 400px;
        height: 400px;
        margin-left: 50px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    .confirmation__body-text {
        width: 100%;
    }

    #gif {
        width: 350px;
        height: 350px;
        margin-left: 0px;
    }
}

@media (max-width: 360px){
    /* Even smaller Phone */

    #gif {
        width: 280px;
        height: 280px;
        margin-left: 0px;
    }
}


/* Footer */
@media (max-width: 991px){
    /* Tablet */

    footer {
        margin-top: 150px;
    }

    .footer__container {
        width: 100%;
        margin: 0px;
    }

    .footer__text {
        width: 40%;
        margin-left: 300px;
    }

    .copyright__container {
        width: 50%;
        padding-left: 20px;
        justify-content: flex-start;
    }
}

@media (max-width: 768px){
    /* Mobile */

    .footer__text {
        width: 70%;
        margin-left: 100px;
    }
}

@media (max-width: 500px){
    /* Small phone */

    footer {
        margin-top: 200px;
        height: 580px;
    }

    .footer__container {
        height: auto;
    }

    .footer__text {
        width: fit-content;
        margin: 0px 0px 0px 50px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__list {
        margin: 80px 0px 0px 0px;
    }

    .copyright__container {
        width: 85%;
        margin: 50px 0px 0px 25px;
        padding-left: 0px;
        justify-content: flex-start;
    }
}